<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testService" class="ru.otus.testsStudents.services.TestService">
        <constructor-arg name="questionFormatterService" ref="formatter"/>
        <constructor-arg name="questionLoaderService" ref="loader"/>
    </bean>
    <bean id="formatter" class="ru.otus.testsStudents.services.QuestionFormatterService"/>
    <bean id="loader" class="ru.otus.testsStudents.services.QuestionLoaderService">
        <property name="questionFileName" value="/question.csv"/>
        <property name="answerFileName" value="/answer.csv"/>
    </bean>
    

</beans>